.card-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 23rem;
    margin-top: 2rem;
    z-index: -2;
  }
  
  .card {
    margin: 20px;
    box-shadow: 0 5px 25px 2px rgb(0, 0, 0, 0.11);
    border-radius: 7px;
    /* border: 1.5px solid #ededed; */
    padding: 20px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .card-img {
    width: 13rem;
    margin-bottom: 1rem;
    transition: 0.3s ease-in-out;

  }
  .card-img:hover {
    transform: scale(1.1);

  }
  
  .card-title {
    margin-bottom: 1rem;
  }
  
  .card-reviews {
    margin-bottom: 1rem;
    display: flex;
  }
  
  .rating-star {
    color: #FF9900;
  }
  
  .total-reviews {
    font-size: 0.9rem;
    margin-left: 10px;
  }
  
  .card-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .bag-icon {
    color: #ED4956;
  }